*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(
        135deg,
        #0f172a,
        #1e293b,
        #2563eb
    );
}

.container{
    width:100%;
    padding:20px;
}

.form-card{
    width:100%;
    max-width:500px;
    margin:auto;
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(15px);
    padding:40px;
    border-radius:25px;
    border:1px solid rgba(255,255,255,0.1);
    box-shadow:0 20px 40px rgba(0,0,0,0.3);
}

.form-card h1{
    color:white;
    text-align:center;
    margin-bottom:10px;
    font-size:35px;
}

.form-card p{
    text-align:center;
    color:#cbd5e1;
    margin-bottom:30px;
}

.input-group{
    margin-bottom:20px;
}

.input-group label{
    display:block;
    color:white;
    margin-bottom:8px;
    font-weight:500;
}

.input-group input{
    width:100%;
    padding:14px;
    border:none;
    outline:none;
    border-radius:12px;
    background:rgba(255,255,255,0.12);
    color:white;
    font-size:15px;
}

.input-group input::placeholder{
    color:#cbd5e1;
}

.input-group input[type="file"]{
    cursor:pointer;
}

.btn{
    width:100%;
    padding:15px;
    border:none;
    border-radius:12px;
    background:linear-gradient(
        90deg,
        #3b82f6,
        #2563eb
    );
    color:white;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
}

a .btn{
    position:absolute;
    top:20px;
    left:20px;
    width:100px;

}

.btn:hover{
    transform:translateY(-3px);
    box-shadow:0 10px 20px rgba(37,99,235,0.4);
}


.qrbox{

    margin:25px 0;

    border-radius:12px;

    border:2px dashed rgba(255,255,255,.25);

    display:flex;
    justify-content:center;
    align-items:center;

    color:#dbeafe;

    background:rgba(255,255,255,.05);
}